    .sidebar{
            position: fixed;
            width: 250px;
            height: 100%;
            left: 0;
            background-color: rgba(86, 112, 147, 0.303);
        }
    .kanan {
            margin-left: 250px;
            height: 100%;
            background-color: rgb(117, 252, 128);
        }
    
    .main {
            position: relative;
            top: 64px;
            background-color: aqua;
        }
    .profile{
            text-align: center;
            border-bottom: 2px solid white;
            margin: 20px 5px 0 5px;
            padding-bottom: 10px;

        }
    .sidebar> .profile .foto img{
            border-radius: 50%;
        }

    .sidebar> .menu {
            padding: 0 5px;
        }
        
    .sidebar> .menu > ul > .menuitem {
            padding: 10px 20px;
            border-radius: 10px;
            
        }
    .sidebar> .menu > ul > .menuitem:hover {
            background-color: white;
            cursor: pointer;
        }
    .sidebar> .menu > ul > .menuitem:hover span,
    .sidebar> .menu > ul > .menuitem:hover i {
            color: black;
        }
        .menuitem i{
            width: 20px;
        }
        .status-bar{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-top: 2px solid white;
        }