        *{
            margin: 0;
            padding: 0;
            color: aliceblue;
            list-style: none;
            text-decoration: none;
        }
        body {
            
            background-image: url("bg.jpg");
            background-size: cover;      
            background-repeat: no-repeat;
            min-height: 100vh;
            background-position: fixed; 
        }

        